@{
    ViewData["Title"] = "Відновлення пароля";
}

<section class="auth-page">
    <div class="auth-overlay"></div>

    <div class="auth-container">
        <div class="auth-card">

            
            <div class="auth-left">
                <div class="auth-brand">Luftreise</div>
                <h1>Відновлення пароля</h1>
                <p>
                    Введіть свою електронну пошту,
                    і ми надішлемо інструкції для відновлення доступу.
                </p>
            </div>

         
            <div class="auth-right">

                <a asp-controller="Account" asp-action="Login" class="close-btn">✕</a>

                <div class="auth-header">
                    <h2>Відновлення пароля</h2>
                    <p>Введіть email</p>
                </div>

                <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="auth-form">

                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" name="Email" placeholder="example@email.com" required />
                    </div>

                    <button type="submit" class="auth-btn">
                        Надіслати
                    </button>
                </form>

                <div class="auth-footer">
                    <p>
                        Згадали пароль?
                        <a asp-controller="Account" asp-action="Login">Увійти</a>
                    </p>
                </div>

            </div>

        </div>
    </div>
</section>